<!DOCTYPE html>
<html>
<head>
<title>DevOps Deployment Dashboard</title>

<style>
body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
padding-top:100px;
}

.container{
background:#1e293b;
padding:40px;
border-radius:10px;
width:500px;
margin:auto;
}

h1{
color:#38bdf8;
}

.info{
margin-top:20px;
font-size:18px;
}
</style>

</head>

<body>

<div class="container">

<h1>🚀 DevOps CI/CD Deployment</h1>

<div class="info">
<p><b>Application:</b> GitHub Actions Demo</p>
<p><b>Container Hostname:</b> {{hostname}}</p>
<p><b>Deployment Time:</b> {{time}}</p>
</div>

</div>

</body>
</html>